/* ie9 */
.header-style-2 .header-logo .row .col-md-3, .header-style-2 .header-logo .row .col-md-6{ position: relative; top:50%; transform: translateY(-50%);}
.shrink-nav.header-style-2 .header-logo .row{ height: 72px;}
